/* src/assets/Footer.css */
.footer {
  width: 100%;
  margin: 0 auto; /* จัดให้อยู่กลาง */
  padding: 0.5rem 1rem;
  /* margin-left: 200px; */
  position: absolute;
  bottom: 0;
  height: 50px; /* ความสูงของ Footer */
  line-height: 50px; /* การจัดแนวแนวตั้งของข้อความใน Footer */
  text-align: center;
  align-items: center; /* จัดวางตัวหนังสือให้อยู่ตรงกลางในแนวตั้ง */
  justify-content: center; /* จัดวางตัวหนังสือให้อยู่ตรงกลางในแนวนอน */
  display: flex;
}
