/* src/assets/Footer.css */
.footer {
  width: 100%;
  margin: 0 auto; /* จัดให้อยู่กลาง */
  padding: 1rem 1rem;
  /* margin-left: 200px; */
  position: absolute;
  bottom: 0;
  height: 50px; /* ความสูงของ Footer */
  line-height: 50px; /* การจัดแนวแนวตั้งของข้อความใน Footer */
  text-align: center;
  align-items: center; /* จัดวางตัวหนังสือให้อยู่ตรงกลางในแนวตั้ง */
  justify-content: center; /* จัดวางตัวหนังสือให้อยู่ตรงกลางในแนวนอน */
  display: flex;
  padding-top: 2rem; /* 12px */
  padding-bottom: 0.75rem; /* 12px */
  background-color: #3f51b5; /* เปลี่ยนสีพื้นหลังเป็นสีฟ้า */
  color: white; /* เปลี่ยนสีตัวหนังสือเป็นสีขาว */
}
