/* src/assets/Sidebar.css */
.sidebar {
  width: 200px;
  height: 100%;
  background-color: #3f51b5;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 2px 0 5px rgba(48, 47, 47, 0.1);
  font-size: 120%;
  /* margin-top: 60px; */
  z-index: 1000;
}

/* top bar */
.sidebar-header {
  padding: 15px;
  background-color: #364599;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

.sidebar-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-list li {
  padding: 15px 20px;
  text-align: left;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
}

.sidebar-list li:hover {
  background-color: #4377af;
}

/* ระยะicon-text */
.sidebar-list li svg {
  margin-right: 10px;
}

/* bottom bar */
.sidebar-footer {
  padding: 0.5px 0.5px;
  background-color: #3f51b5;
  text-align: center;
  margin-top: auto;
}
.submenu li {
  padding: 10px 20px;
  color: white;
}
.sidebar-footer {
  padding: 10px;
}

.sidebar-footer .sidebar-list {
  padding: 0;
}

.sidebar-footer .sidebar-list li {
  padding: 10px 20px;
  color: white;
}
