/* src/App.css */
.App {
  display: flex;
  font-family: "Arial", sans-serif;
}

.content {
  margin-left: 250px; /* ระยะห่างจาก Sidebar */
  padding-top: 70px;
  padding: 20px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

.App-header {
  text-align: center;
  margin-top: 20px;
  font-size: 1.5em;
  color: #34495e;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #2ecc71;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #27ae60;
}
