/* บทที่18 อยู่ในเครื่องหมาย <> ไม่ต้องใส่จุดนำหน้า แต่ถ้าเป็นพวก className จะใส่จุดหน้าชื่อ className */
ul {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #a72727;
  border-radius: 5px;
}
h1 {
  font-size: 28px;
  text-align: center;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}
.delete {
  background: red;
}
li {
  display: flex;
  justify-content: space-between; /* อยู่คนล่ะมุม */
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; /*ดร็อปเงาแยก บรรทัด*/
  margin: 20px 5px;
  padding: 20px;
  font-size: 30px;
  border-radius: 5px;
}
